extends layout

block content
  h1 Welome to the Clone wars Tracker!
  h2 How to Use
  p <a href="/register">Create an account</a> and use this app to track your progress while watching Star Wars the Clone Wars. This app will work for as long as Netflix hosts it.