extends layout

block content
  img(src="/images/CW-Chronos-03.png" class="img-fluid" alt="Clone Wars Chronological")
  h1 Welcome to the Clone wars Tracker!
  h2 What is it?
  p Have you ever wanted to watch Clone Wars in chronological order, instead of the broadcast order? Did you even know that was a thing? This app is for you!
  h2 How to Use
  p <a href="/register">Create an account</a> and use this app to track your progress while watching Star Wars the Clone Wars. This app will work for as long as Netflix hosts it.
  //- h3 How did you make this?
  //- p For this interested in building something like this, check out the <a href="https://github.com/DarthOstrich/chrono-clones">github page.</a>